@page
@model Icity.Areas.Admin.Pages.SystemConfigration.ContactsInfoModel
@{
}


<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-header d-flex justify-content-between align-items-center">
                            @sharedResource["ContactsInfo"]
                        </h2>
                    </div>
                    <div class="card-body">
                        @(Html.DevExtreme().DataGrid<Icity.Models.SoicialMidiaLink>
    ()
    .DataSource(ds => ds.Mvc()
    .Controller("SoicialMidiaLinks")
    .LoadAction("Get")
    .InsertAction("Post")
    .UpdateAction("Put")
    .DeleteAction("Delete")
    .Key("id")
    )
    .RemoteOperations(true)
    .Columns(columns => {

       
        columns.AddFor(m => m.facebooklink).Caption(sharedResource["Facebook"]);
        columns.AddFor(m => m.WhatsApplink).Caption(sharedResource["WhatsApp"]);
        columns.AddFor(m => m.LinkedInlink).Caption(sharedResource["LinkedIn"]);
        columns.AddFor(m => m.Instgramlink).Caption(sharedResource["Instgram"]);
        columns.AddFor(m => m.TwitterLink).Caption(sharedResource["Twitter"]);
        columns.AddFor(m => m.YoutubeLink).Caption(sharedResource["Youtube"]);
    })
   .Editing(e => e.Mode(GridEditMode.Popup)
.Texts(c => c.CancelRowChanges(sharedResource["Cancel"]).SaveRowChanges(sharedResource["Save"]).EditRow(sharedResource["Edit"]).AddRow(sharedResource["Add"]))
                        .UseIcons(true)

    .AllowUpdating(true)
    .AllowAdding(false)
    .AllowDeleting(false)
    .Popup(p => p
    .Title(sharedResource["Edit Contact Us"])
    .ShowTitle(true)
    .MaxWidth(750)
    .Height(300)).Form(f => f.Items(items =>
    {
        items.AddGroup()
        .ColCount(2)
        .ColSpan(2)
        .Items(groupItems =>
        {
    
            
            groupItems.AddSimple().DataField("facebooklink");
            groupItems.AddSimple().DataField("WhatsApplink");
            groupItems.AddSimple().DataField("LinkedInlink");
            groupItems.AddSimple().DataField("Instgramlink");
            groupItems.AddSimple().DataField("TwitterLink");
            groupItems.AddSimple().DataField("YoutubeLink");

        });

    }))
    )

    .ShowBorders(true)
    .FilterRow(filterRow => filterRow
    .Visible(true)
    .ApplyFilter(GridApplyFilterMode.Auto)
    )
    .SearchPanel(searchPanel => searchPanel
    .Visible(true)
    .Width(240)
            .Placeholder(sharedResource["SearchTxt"])

    )
    .HeaderFilter(headerFilter => headerFilter.Visible(true))
    .ShowRowLines(true).ShowColumnLines(true)
    .RowAlternationEnabled(true)
        .RtlEnabled(bool.Parse(sharedResource["ArLang"]))

    )
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
